@import 'config';

.home {
  height: 100%;
  padding-top: 40vh;

  // Prevent scroll bars
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/banner.jpg') center top;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    // border-bottom: 2px solid set-text-color($primary-color);

    &-last {
      color: $secondary-color;
      font-weight: weight(bold);
    }
  }
  .line {
    display: block;
    margin: 1rem auto;
    margin-bottom: 2rem;
    width: 50%;
    height: 2px;
    background-color: white;
    z-index: 10;
  }
}
